<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<alternatives>
	<!--  Add all your dummy classes into this bracket -->
		<class>
			com.netbuilder.entities.Dummy.BasketManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.CustomerLoginManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.CustomerManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.CustomerOrderLineManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.CustomerOrderManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.ProductManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.PurchaseOrderManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.SupplierManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.SupplierProductManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.WarehouseWorkerManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.WeeklySalesManagerDummy
		</class>
		<class>
			com.netbuilder.entities.Dummy.WishlistManagerDummy
		</class>

		<!--  End of Dummy Bracket -->
		<!--  Add all your SQL classes into this bracket -->
		<!-- 
		
		
		 -->
		<!--  End of SQL bracket -->
	</alternatives>
</beans>